<div class="page-header">
  <% title(@project.name, "Projects") %>
  <h1>
    <%= @project.name %>
    <div>
      <%= link_to 'New Ticket', new_project_ticket_path(@project), class: 'btn btn-primary' %>
      <%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-primary' %>
      <%= link_to 'Delete Project', admin_project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this project?" }, class: 'btn btn-danger' %>
    </div>
  </h1>
</div>

<p><%= @project.description %></p>

<ul>
  <% @project.tickets.each do |ticket| %>
    <li><%= link_to ticket.name, [@project, ticket] %></li>
  <% end %>
</ul>
